@page
@model OpenRepairManager.Api.Areas.ORMAdmin.Pages.Sessions.DeleteModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Delete";
}

<section class="section">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Are you sure you want to delete session "@Model.Session.SessionName"?</h3>
            <h4 class="text-danger"><strong>WARNING!</strong> This action can't be undone! Any Repair Items associated with this session may also be deleted!</h4>
            <hr/>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Session.SessionName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Session.SessionName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Session.SessionInfo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Session.SessionInfo)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Session.SessionSlug)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Session.SessionSlug)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Session.SessionDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Session.SessionDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Session.StartTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Session.StartTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Session.EndTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Session.EndTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Session.Location)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Session.Location.LocationName)
                </dd>
            </dl>

            <form method="post">
                <input type="hidden" asp-for="Session.SessionID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
                <a class="btn btn-success" asp-area="ORMAdmin" asp-page="./Index">Cancel</a>
            </form>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#sesNavBase').addClass('active');
        });
    </script>
}