@page
@model OpenRepairManager.Api.Areas.ORMAdmin.Pages.Sessions.DetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Session</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.SessionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.SessionInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.SessionSlug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionSlug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.SessionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.Location.LocationName)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="ORMAdmin" asp-page="./Edit" asp-route-id="@Model.Session.SessionID">Edit</a> |
    <a asp-area="ORMAdmin" asp-page="./Index">Back to List</a>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#sessionMan').addClass('active');
        });
    </script>
}