@page
@model OpenRepairManager.Api.Areas.ORMAdmin.Pages.Sessions.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "View Sessions";
}

<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Mange Sessions</h4>
        </div>
        <div class="card-body">
            <p>You currently have <strong>@Model.Session.Count</strong> Session(s)</p>
            <p><a asp-area="ORMAdmin" asp-page="Create">New Session</a></p>
            <div class="table-responsive">
                <table class="table table-striped mb-0" id="locTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Session[0].SessionName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Session[0].SessionInfo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Session[0].SessionSlug)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Session[0].SessionDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Session[0].StartTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Session[0].EndTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Session[0].Location)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Session)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SessionName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SessionInfo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SessionSlug)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SessionDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StartTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.SessionID">Edit</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.SessionID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#sesNavBase').addClass('active');
            $('#sesViewNav').addClass('active');
            $('#sesNavSub').addClass('active submenu-open');
        });
    </script>
}